.contenedorDeDetalle{
    text-align: center;
    margin: 3rem;
}

.contenedorDeDetalle p{
    width: 50%;
    margin: 2rem auto;
}

.contenedorDeDetalle h3{
    margin: 3rem 0rem;
}

.contenedorDeDetalle img{
    margin: 2rem 0 0 0;
    box-shadow: 0px 0px 1rem 2px rgba(47, 55, 146, 0.33);
}