.logo-carrito{
    color: whitesmoke;
    margin-right: 1rem;
    }

.logo-carrito:hover{
    color: red;
    }    

.contenedorDeCart{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
}

.cantidad-en-carrito{
    font-weight: bolder;
}