.cardContador{
    position: center;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.contenedorCard{
    border: 3px;
    border-style: groove;
    border-radius: 10px;
    width: 35rem;
    margin: auto;
    text-align: center;
}

button{
    border-style: none;
    width: 3rem;
    color: #4c64d0;
    font-size: 1.8rem;
    font-weight: bolder;
}

.agregarCarrito{
    width: auto;
    font-size: large;
    margin-bottom: 1rem;
}

button:hover{
    color: red;
}

div .botones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.finalizarCompra{
    width: 30rem;
    font-size: large;
    margin:  5px auto;
    padding: 4px 10px;
    border: solid rgb(151, 181, 191) 2px;
    border-radius: 10px;
}

.seguirComprando{
    width: 30rem;
    font-size: large;
    margin: 5px auto;
    padding: 4px 10px;
    border: solid rgb(151, 181, 191) 2px;
    border-radius: 10px;
}