.tarjetaProducto{
    width: 90%;
    height: 90%;
    margin: 2rem 0rem;
    padding: 0% 2%;

    border-image: linear-gradient(90deg, rgb(100, 100, 212), white);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tarjetaProducto:hover{
    border-image: linear-gradient(90deg, rgb(221, 112, 112), white);
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    text-align: center;
}

img{
    width: 10rem;
    justify-items: center;
}

.OutOfStock{
    text-decoration: dashed;
}