.div-principal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-secundario{
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 10px;
    min-width: 320px;
}

.cerrar-boton{
    position: absolute;
    top: 2px;
    right: 0px;
    font-size: 1.4rem;
}

.fondo-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.4;
}