.productoEnCarrito{
    border: groove rgba(87, 100, 138, 0.423) 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.seccionIzquierda{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.seccionDerecha{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 3rem;

}

.cardContadorCart{
    position: center;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 5px auto;
}

.seccionDerecha h3{
    margin: 5 auto;
}

.eliminarDeCarrito{
    margin: auto 3rem;
    padding: 0.5rem;
    color: rgba(6, 47, 98, 0.794);

    width:auto;
    font-size: medium;
    border-image: linear-gradient(90deg, rgb(100, 100, 212), white);
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    text-align: center;
}

.eliminarDeCarrito:hover{
    border-image: linear-gradient(90deg, rgb(212, 100, 100), white);
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
}

.precioCarrito{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.precioDelProducto{
    margin: 5rem 0rem 2rem 0rem;
}

.figuraPrecio{
    margin: 0;
}