.noProductosDiv{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    margin: 3rem;
}

.noHayProductos{
    text-align: center;
    margin: 3rem 0rem 4rem 0rem ;
    text-transform: uppercase;
}

.seguirComprando{
    text-align: center;
    margin: auto;

    width: 50%;
    padding: 2rem;
    font-size: 15px;
    text-transform: uppercase;

    border: solid rgba(71, 85, 106, 0.689) 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

.div-orden{
    width: 100%;
    display: flex;
}

.enviar-orden{
    border: solid rgba(71, 85, 106, 0.527) 1px;
    border-top: none;
    border-left: none;
    border-right: none;

    margin: 3rem auto;
    padding: 0.5rem;
    width: 20%;
    
    text-transform: uppercase;
    font-size:large;

}

.enviar-orden:hover{
    width: 25%;
}

.tituloDeCarrito{
    text-transform: uppercase;
    font-size: x-large;
    margin: 3rem 2rem;
    color: rgba(24, 40, 84, 0.73);
}

.tituloModal{
    text-align: center;
    text-transform: uppercase;
    color: rgba(46, 46, 79, 0.872);
    margin: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
}

input{
    text-align: center;
    margin-bottom: 1rem;
    font-size: medium;
    border-style: none;
    border-bottom: 1px solid rgba(96, 103, 159, 0.613);
    padding: 0.5rem;
}

label{
    font-size: 1.5rem;
    margin-bottom: 0.5rem ;
    color: rgba(21, 41, 120, 0.859);
}

.total-a-pagar{
    font-size: 1.1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgba(46, 46, 79, 0.798);


}

.btnFinalizarCompra{
    width: auto;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: large;
}
